* {
  margin: 0;
}

.block--red {
  max-width: 100%;
  height: 100px;
  background-color: red;
}

.block--green {
  max-width: 100%;
  height: 100px;
  background-color: green;
}

.block--blue {
  max-width: 100%;
  height: 100px;
  background-color: blue;
}
